In [3]:
count = 0

while count < 10:
    print("Vaibhav")
    count = count + 1

print("Goodbye")

Vaibhav
Vaibhav
Vaibhav
Vaibhav
Vaibhav
Vaibhav
Vaibhav
Vaibhav
Vaibhav
Vaibhav
Goodbye

In [5]:
print(count)

10

In [9]:
# print the numbers from 1 to 20 using while loop

count = 1

while count <= 20:
    print(count, end = ' ')
    count += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [11]:
print(count)

21

In [13]:
# find the addition of number from 1 to 10

count = 1
add = 0

while count <= 10:
    add = add + count
    count += 1

print("addition of 1 to 10 is", add)

addition of 1 to 10 is 55

In [17]:
# find the addition of all the odd numbers from 1 to 20

count = 1
add = 0

while count <= 20:
    add = add + count
    count += 2

print("addition of 1 to 20 is", add)

addition of 1 to 20 is 100

In [27]:
# factorial of any number 

# 5! => 120

num = int(input("Enter the number"))
fact = 1

while num > 1:
    fact = fact * num
    num -= 1

print("factorial is", fact)

Enter the number 10

factorial is 3628800

In [ ]:
# infinite loop

num = 10

while num > 0:
    print(num)

In [ ]:
while True:
    print("Aditya")

In [29]:
# find the sum of the digits of a number
# 12345 => 1 + 2 + 3 + 4 + 5 = 15
# 12 => 1 + 2 = 3

In [35]:
num = 12345

In [39]:
num % 10

5

In [41]:
num // 10

1234

In [49]:
num = int(input("Enter the number"))
add = 0

while num > 0:
    rem = num % 10
    add = add + rem
    num = num // 10

print("addition of digits", add)

Enter the number 12345

addition of digits 15

## For loop

In [52]:
for n in 20, 45, 10, 50, 11:
    print(n)

20
45
10
50
11

In [54]:
for n in 20, 45, 10, 50, 11:
    print(n/2)

10.0
22.5
5.0
25.0
5.5

In [56]:
for n in 20, 45, 10, 50, 11:
    print("Aditya")

Aditya
Aditya
Aditya
Aditya
Aditya

In [58]:
for n in 20, 45, 10, 50, 11, True:
    print(n)

20
45
10
50
11
True

In [60]:
# range function

In [62]:
# range(start, end, step)

In [66]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
list(range(5, 21))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [70]:
list(range(5, 21, 2))

[5, 7, 9, 11, 13, 15, 17, 19]

In [74]:
# print 1 to 20 numbers

for i in range(1, 21):
    print(i, end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20

In [76]:
for i in range(1, 21):
    print("Aditya", end = ' ')

Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya Aditya

In [78]:
# print square of numbers from 1 to 10

for i in range(1, 11):
    print(i ** 2, end = ' ')

1 4 9 16 25 36 49 64 81 100

In [84]:
# find the addtion of numbers from 1 to 10

add = 0
for i in range(1, 11):
    add = add + i

print("Addition is ", add)

Addition is  55

In [86]:
# find addition of odd number from 1 to 20
add = 0
for i in range(1, 21, 2):
    add = add + i

print("Addition is ", add)

Addition is  100

In [90]:
name = "Nikhil"

for i in name:
    print(i * 3)

NNN
iii
kkk
hhh
iii
lll

#### Else keyword

In [93]:
num = [10, 20, 30, 40, 45]

for i in num:
    print(i, end = ' ')
else:
    print("loop ended")

10 20 30 40 45 loop ended

In [103]:
# find the factorial of a number using for loop

num = int(input("Enter the number "))
fact = 1
for i in range(1, num + 1):
    fact = fact * i

print(fact)

Enter the number  5

120

### Loop control statement

In [106]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [108]:
# break

for i in range(1,6):
    if i == 3:
        break
    print(i)

1
2

In [110]:
for i in range(1,6):
    print(i)
    if i == 3:
        break

1
2
3

In [116]:
# in while
count = 1

while count <= 5:
    print(count)
    if count == 3:
        break
    count += 1

1
2
3

In [118]:
# continue

In [120]:
for i in range(1,6):
    if i == 3:
        continue
    print(i)

1
2
4
5

In [122]:
for i in range(1,6):
    print(i)
    if i == 3:
        continue

1
2
3
4
5

In [124]:
# pass

In [128]:
num = 3

if num > 0:
    pass