# Functions

In [1]:
def show():      # function definition
    print("Hello")
    print("ok")
    print('goodbye!')

In [3]:
show()   # function call

Hello
ok
goodbye!

In [5]:
show()
show()
show()

Hello
ok
goodbye!
Hello
ok
goodbye!
Hello
ok
goodbye!

In [7]:
# parameterized function

In [61]:
def sq(a):
    result = a * a
    print(result)

In [11]:
sq(10)

100

In [13]:
sq()

TypeError: sq() missing 1 required positional argument: 'a'

In [19]:
def compare(x, y):
    if x > y:
        print(f"{x} is greater")
    elif x == y:
        print(f"both equal")
    else:
        print(f"{y} is greater")

In [21]:
compare(10, 49)

49 is greater

In [23]:
# write a function which will display a string specified number of times

In [25]:
def dis(name, count):
    for n in range(count):
        print(name)

In [27]:
dis("Pune", 3)

Pune
Pune
Pune

In [29]:
# write a function for finding the facotrial

In [35]:
def factorial(n):
    fact = 1
    for i in range(1, n+1):
        fact = fact * i
    print(fact)

In [37]:
factorial(5)

120

In [41]:
# return and print

In [63]:
v = sq(10)

100

In [65]:
print(v)

None

In [59]:
def sq1(a):
    result = a * a
    return result

In [51]:
v = sq(10)

In [53]:
v

100

In [67]:
# multi-return

In [69]:
def calc(n):
    sq = n * n
    cu = n ** 3
    return sq, cu

In [71]:
calc(9)

(81, 729)

In [73]:
calc(9)[0]

81

In [75]:
calc(9)[1]

729

In [83]:
num = int(input("Enter the number"))
x, y = calc(num)
print("square", x)
print("cube", y)

Enter the number 5

square 25
cube 125

In [89]:
def compare(x, y):
    if x > y:
        return x
    elif x == y:
        return 0
    else:
        return y

In [91]:
compare(10, 56)

56

In [93]:
help(compare)

Help on function compare in module __main__:

compare(x, y)

In [97]:
# type hint
# specifying the datatypes of parameters and output

In [113]:
def compare(x: int, y: int) -> int:
    """
    returns the largest of 2 numbers
    """
    
    if x > y:
        return x
    elif x == y:
        return 0
    else:
        return y

In [115]:
compare(10, 56)

56

In [117]:
help(compare)

Help on function compare in module __main__:

compare(x: int, y: int) -> int
    returns the largest of 2 numbers

In [119]:
# write a function to add 3 numbers

In [143]:
def add3(x: int = 10, y = 20, z = 30):
    res = x + y + z
    return res

In [145]:
add3(1, 2, 3)

6

In [147]:
add3(1, 4)

35

In [149]:
add3(1)

51

In [151]:
add3(x = 2, z = 2)

24

In [153]:
# dynamic variable length

In [155]:
def addall(*args):
    return sum(args)

In [157]:
addall(10, 43, 3, 3, 5, 3)

67

In [159]:
# lambda function

In [163]:
square = lambda x: x ** 2

In [165]:
square(19)

361

In [167]:
# create a labda function for addition of 2 numbers

In [169]:
ad = lambda x, y: x + y

In [171]:
ad(10, 21)

31

In [173]:
num = [10, 34, 56, 23, 18, 45, 100, 4]

In [175]:
new = filter(lambda x: x > 30, num)

In [177]:
list(new)

[34, 56, 45, 100]

In [179]:
new1 = map(lambda x: x ** 2, num)

In [181]:
list(new1)

[100, 1156, 3136, 529, 324, 2025, 10000, 16]

In [183]:
# check if a str is palindrome of not

In [189]:
a = "4554"

In [199]:
a = list(a)
a

['4', '5', '5', '4']

In [203]:
y = a[::-1]
y

['4', '5', '5', '4']

In [187]:
# palindrome or not

In [207]:
def ispalindrome(text: str) -> bool:
    """
    checks if the text is palindrome or not
    forward and backward is same

    Args:
        a text to check if its palindrome or not

    Returns:
        a boolean value
    """
    a = list(text)
    b = a[::-1]

    if a == b:
        return True
    else:
        return False

In [209]:
ispalindrome("racecar")

True

In [211]:
ispalindrome("pune")

False

# Modules

In [215]:
import math

In [217]:
math.sqrt(49)

7.0

In [219]:
math.sin(30)

-0.9880316240928618

In [221]:
help(math)
# create a function to calculate area of the circle

Help on built-in module math:

NAME
    math

DESCRIPTION
    This module provides access to the mathematical functions
    defined by the C standard.

FUNCTIONS
    acos(x, /)
        Return the arc cosine (measured in radians) of x.

        The result is between 0 and pi.

    acosh(x, /)
        Return the inverse hyperbolic cosine of x.

    asin(x, /)
        Return the arc sine (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    asinh(x, /)
        Return the inverse hyperbolic sine of x.

    atan(x, /)
        Return the arc tangent (measured in radians) of x.

        The result is between -pi/2 and pi/2.

    atan2(y, x, /)
        Return the arc tangent (measured in radians) of y/x.

        Unlike atan(y/x), the signs of both x and y are considered.

    atanh(x, /)
        Return the inverse hyperbolic tangent of x.

    cbrt(x, /)
        Return the cube root of x.

    ceil(x, /)
        Return the ceiling of x as an Integral.

        This is the smallest integer >= x.

    comb(n, k, /)
        Number of ways to choose k items from n items without repetition and without order.

        Evaluates to n! / (k! * (n - k)!) when k <= n and evaluates
        to zero when k > n.

        Also called the binomial coefficient because it is equivalent
        to the coefficient of k-th term in polynomial expansion of the
        expression (1 + x)**n.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    copysign(x, y, /)
        Return a float with the magnitude (absolute value) of x but the sign of y.

        On platforms that support signed zeros, copysign(1.0, -0.0)
        returns -1.0.

    cos(x, /)
        Return the cosine of x (measured in radians).

    cosh(x, /)
        Return the hyperbolic cosine of x.

    degrees(x, /)
        Convert angle x from radians to degrees.

    dist(p, q, /)
        Return the Euclidean distance between two points p and q.

        The points should be specified as sequences (or iterables) of
        coordinates.  Both inputs must have the same dimension.

        Roughly equivalent to:
            sqrt(sum((px - qx) ** 2.0 for px, qx in zip(p, q)))

    erf(x, /)
        Error function at x.

    erfc(x, /)
        Complementary error function at x.

    exp(x, /)
        Return e raised to the power of x.

    exp2(x, /)
        Return 2 raised to the power of x.

    expm1(x, /)
        Return exp(x)-1.

        This function avoids the loss of precision involved in the direct evaluation of exp(x)-1 for small x.

    fabs(x, /)
        Return the absolute value of the float x.

    factorial(n, /)
        Find n!.

        Raise a ValueError if x is negative or non-integral.

    floor(x, /)
        Return the floor of x as an Integral.

        This is the largest integer <= x.

    fmod(x, y, /)
        Return fmod(x, y), according to platform C.

        x % y may differ.

    frexp(x, /)
        Return the mantissa and exponent of x, as pair (m, e).

        m is a float and e is an int, such that x = m * 2.**e.
        If x is 0, m and e are both 0.  Else 0.5 <= abs(m) < 1.0.

    fsum(seq, /)
        Return an accurate floating point sum of values in the iterable seq.

        Assumes IEEE-754 floating point arithmetic.

    gamma(x, /)
        Gamma function at x.

    gcd(*integers)
        Greatest Common Divisor.

    hypot(...)
        hypot(*coordinates) -> value

        Multidimensional Euclidean distance from the origin to a point.

        Roughly equivalent to:
            sqrt(sum(x**2 for x in coordinates))

        For a two dimensional point (x, y), gives the hypotenuse
        using the Pythagorean theorem:  sqrt(x*x + y*y).

        For example, the hypotenuse of a 3/4/5 right triangle is:

            >>> hypot(3.0, 4.0)
            5.0

    isclose(a, b, *, rel_tol=1e-09, abs_tol=0.0)
        Determine whether two floating point numbers are close in value.

          rel_tol
            maximum difference for being considered "close", relative to the
            magnitude of the input values
          abs_tol
            maximum difference for being considered "close", regardless of the
            magnitude of the input values

        Return True if a is close in value to b, and False otherwise.

        For the values to be considered close, the difference between them
        must be smaller than at least one of the tolerances.

        -inf, inf and NaN behave similarly to the IEEE 754 Standard.  That
        is, NaN is not close to anything, even itself.  inf and -inf are
        only close to themselves.

    isfinite(x, /)
        Return True if x is neither an infinity nor a NaN, and False otherwise.

    isinf(x, /)
        Return True if x is a positive or negative infinity, and False otherwise.

    isnan(x, /)
        Return True if x is a NaN (not a number), and False otherwise.

    isqrt(n, /)
        Return the integer part of the square root of the input.

    lcm(*integers)
        Least Common Multiple.

    ldexp(x, i, /)
        Return x * (2**i).

        This is essentially the inverse of frexp().

    lgamma(x, /)
        Natural logarithm of absolute value of Gamma function at x.

    log(...)
        log(x, [base=math.e])
        Return the logarithm of x to the given base.

        If the base not specified, returns the natural logarithm (base e) of x.

    log10(x, /)
        Return the base 10 logarithm of x.

    log1p(x, /)
        Return the natural logarithm of 1+x (base e).

        The result is computed in a way which is accurate for x near zero.

    log2(x, /)
        Return the base 2 logarithm of x.

    modf(x, /)
        Return the fractional and integer parts of x.

        Both results carry the sign of x and are floats.

    nextafter(x, y, /)
        Return the next floating-point value after x towards y.

    perm(n, k=None, /)
        Number of ways to choose k items from n items without repetition and with order.

        Evaluates to n! / (n - k)! when k <= n and evaluates
        to zero when k > n.

        If k is not specified or is None, then k defaults to n
        and the function returns n!.

        Raises TypeError if either of the arguments are not integers.
        Raises ValueError if either of the arguments are negative.

    pow(x, y, /)
        Return x**y (x to the power of y).

    prod(iterable, /, *, start=1)
        Calculate the product of all the elements in the input iterable.

        The default start value for the product is 1.

        When the iterable is empty, return the start value.  This function is
        intended specifically for use with numeric values and may reject
        non-numeric types.

    radians(x, /)
        Convert angle x from degrees to radians.

    remainder(x, y, /)
        Difference between x and the closest integer multiple of y.

        Return x - n*y where n*y is the closest integer multiple of y.
        In the case where x is exactly halfway between two multiples of
        y, the nearest even value of n is used. The result is always exact.

    sin(x, /)
        Return the sine of x (measured in radians).

    sinh(x, /)
        Return the hyperbolic sine of x.

    sqrt(x, /)
        Return the square root of x.

    tan(x, /)
        Return the tangent of x (measured in radians).

    tanh(x, /)
        Return the hyperbolic tangent of x.

    trunc(x, /)
        Truncates the Real x to the nearest Integral toward 0.

        Uses the __trunc__ magic method.

    ulp(x, /)
        Return the value of the least significant bit of the float x.

DATA
    e = 2.718281828459045
    inf = inf
    nan = nan
    pi = 3.141592653589793
    tau = 6.283185307179586

FILE
    (built-in)

In [223]:
math.pi

3.141592653589793

In [225]:
def circle_area(radius: float) -> float:
    area = math.pi * (radius ** 2)
    return area

In [227]:
circle_area(3)

28.274333882308138

In [231]:
import time as t

In [233]:
t.asctime()

'Sat Mar 29 12:08:50 2025'

In [237]:
print("morning")
t.sleep(5)
print("wake up")

morning
wake up

In [239]:
# selective imports

In [241]:
from math import sqrt, sin, pi

In [243]:
sqrt(100)

10.0

In [245]:
sin(60)

-0.3048106211022167

In [247]:
pi

3.141592653589793

In [249]:
pwd

'C:\\Users\\Aditya\\MITU MAR 2025'